.quiz-form-container {
	box-shadow: 0 7px 34px 0 rgba(2,6,19,0.12);
	background: #fff;
	border-radius: 3px;
}

.quiz-page-s1 {
	padding: 30px 50px 30px;
	border-bottom: 1px solid #E0E1E4;
}

.quiz-page-s2 {
	padding: 30px 50px 30px;
}

.quiz-form {
	position: relative;
	padding-bottom: 110px;
}

.quiz-form .gform_wrapper .percentbar_blue {
	background: #2CC6FA;
}

.quiz-form .gform_wrapper .gf_progressbar:after {
	display: none;
}

.quiz-form .gform_wrapper .gf_progressbar {
	border: 1px solid #E0E1E4;
	background: #f5f6f8;
	box-shadow: none;
	padding: 0;
}

.quiz-form .gform_wrapper .gf_progressbar_percentage {
	height: 8px;
}

.quiz-form .gform_wrapper .gf_progressbar_percentage span {
	display: none;
}

.quiz-form .gform_wrapper .gf_progressbar_wrapper {
	border: 1px solid #E0E1E4;
	border-radius: 300px;
	padding: 20px 100px 20px 25px;
	position: absolute;
	bottom: 0;
	width: 700px;
	max-width: 100%;
}

.quiz-form .gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	position: absolute;
	right: 25px;
	top: 17px;
	font-size: 15px;
}

.quiz-form .gform_wrapper .gform_page_footer {
	border: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 400px;
	max-width: 100%;
	text-align: right;
}

.quiz-form .gform_wrapper .gform_page_footer input.gform_previous_button {
	background: #fff;
	color: #2CC6FA;
}


@media only screen and ( max-width: 1023px) {
	.quiz-form {
		padding-bottom: 0;
	}
	.quiz-form .gform_wrapper .gf_progressbar_wrapper {
		bottom: 0;
		position: relative;
		margin-bottom: 30px;
	}
	.quiz-form .gform_wrapper .gform_page_footer {
		position: relative;
		text-align: left;
		left: 0;
	}
}
