.ff_admin_tabs {
    
    display: flex;
    flex-direction: column;
    width: 1400px;
    max-width: 100%;

    .tab_navs {
        display: flex;
        flex-wrap: wrap;

        
        .item {

            color: inherit;
            text-decoration: none;
            padding: .6rem 1.6rem;
            font-weight: 700;
            background: #fafafa;
            outline: none;
            box-shadow: none;
            transition: .2s ease;
            
            &:hover {
                background: #fbfbfb;
            }

            &.active {
                background: #fff;
            }
        }
    }

    .tab_contents {
        background: #fff;
        padding: 2rem 2rem 2rem;
        border-radius: 0 0 3px 3px;
    }
}